In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('C:/Users/Kavya/Desktop/insurance.csv')
data.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [4]:
data.shape

(1338, 7)

In [5]:
data.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [6]:
data.columns

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [7]:
data.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [8]:
a=pd.get_dummies(data.sex,drop_first=True)
b=pd.get_dummies(data.smoker,drop_first=True)

In [9]:
data=data.drop((['sex','smoker','region']),axis=1)
data.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

In [10]:
data=pd.concat([data,a,b],axis=1)
data

      age     bmi  children      charges  male  yes
0      19  27.900         0  16884.92400     0    1
1      18  33.770         1   1725.55230     1    0
2      28  33.000         3   4449.46200     1    0
3      33  22.705         0  21984.47061     1    0
4      32  28.880         0   3866.85520     1    0
...   ...     ...       ...          ...   ...  ...
1333   50  30.970         3  10600.54830     1    0
1334   18  31.920         0   2205.98080     0    0
1335   18  36.850         0   1629.83350     0    0
1336   21  25.800         0   2007.94500     0    0
1337   61  29.070         0  29141.36030     0    1

[1338 rows x 6 columns]

In [11]:
x=data.drop((['charges']),axis=1)
x.head()

   age     bmi  children  male  yes
0   19  27.900         0     0    1
1   18  33.770         1     1    0
2   28  33.000         3     1    0
3   33  22.705         0     1    0
4   32  28.880         0     1    0

In [12]:
y=data['charges']
y.head()

0    16884.92400
1     1725.55230
2     4449.46200
3    21984.47061
4     3866.85520
Name: charges, dtype: float64

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.3,random_state=42)

In [15]:
from sklearn.linear_model import LinearRegression

In [16]:
model=LinearRegression()

In [17]:
model.fit(xtrain,ytrain)

LinearRegression()

In [18]:
model.coef_

array([  261.91061673,   333.36099462,   432.1792927 ,   136.65119758,
       23618.76182167])

In [19]:
model.intercept_

-12538.439849853112

In [20]:
model.score(xtrain,ytrain)

0.7413880155089706

In [21]:
y_pred=model.predict(xtest)

In [22]:
y_pred

array([ 8504.25952786,  6897.83941087, 36805.01178274,  9525.01640181,
       26834.15783554, 11236.53827843,   -56.51533813, 16996.53931939,
         558.86901551, 11292.49638115, 28504.83781808,  9398.41804442,
        5353.29915879, 38679.23753917, 40572.74207294, 37372.20787154,
       15387.38620563, 36033.31348368,  9292.40371143, 31304.88883148,
        4274.20100087, 10592.29487706,  2708.68730205,  6493.02810907,
       11227.74003336, 12498.97075764, 14877.16806499,  5963.85891638,
        9503.12017865,  2360.10282672,  9434.17913244, 12999.67895742,
        4585.98098388,  3265.96837276,  4840.89651399, 12653.62349137,
        2194.59265213,  9123.3897013 , 33175.85413453, 32812.24167496,
        4132.88277765,  4243.29138982, 14495.05758702, 11538.30865769,
        9023.27584285, 12650.54437942,  5036.97193595,  3406.53561573,
       35766.6625433 ,  9379.5276352 , 16062.93310871,  2535.59415356,
       12177.97650916,  1021.65843332, 13742.82492927, 12262.32230678,
        3942.90077261, 32097.02477108, 13686.62484229, 12427.07590785,
       14562.80863291, 10557.76332545, 16905.62875202,  7655.1890887 ,
       11373.4329289 ,  3872.95410672, 27013.19085325, 11314.83155364,
        1947.12765493,  6528.00420329, 10334.0189268 , 11141.36723127,
       11144.19170379,  9457.97855155, 12242.17723173,  6864.5033114 ,
        6828.90388721, 10679.2641989 ,  6660.32882643,  9111.45334274,
        3947.34563302, 36354.50315789,  6641.21611054, 30192.97241472,
       34939.30712732, 34921.71765958,  7276.27432785, 12929.20186644,
        9817.25737478, 14977.02431552, 17263.76406273, 35506.57070869,
       32531.35623517,  5797.56374799, 32209.85837182,  9935.12924576,
       29674.42577177,  3700.68530721, 28119.8326795 ,  5315.10605979,
        5220.17699689,  2071.99461253, 11757.66027701, 15596.07566839,
       11460.41329585,  4479.08875221, 10217.48599406, 32065.48064352,
        -530.13699665, 33021.06350798,  3608.76198753, 10351.35375509,
       13883.78463378, 31058.34518156, 10988.21107693,  4269.5157975 ,
       12845.30599255, 32107.57563287,  8284.1301888 ,  3175.09163801,
        7882.95348274, 10601.851235  , 14739.66577893,  5838.39141632,
        3608.40892066, 10085.16850355, 11036.88181043, 10808.16932962,
       14648.59354772,  7593.31481706,  5486.83345982,  9502.5701467 ,
        9447.11558813, 12010.26358196,  8610.3148261 , 15850.80992779,
        7990.56995517, 32218.04891058, 35588.79984832, 31031.86620517,
        5852.75269273, 12124.93973582,  6215.53381214, 14454.64212853,
        2726.68876747, 33448.99343673,  6258.04639246,  5281.59421218,
       14244.87927064,  7364.77256184, 38545.8087982 ,  2859.61550364,
        6027.07376757, 31241.22244649, 11369.13162531,  8062.46480496,
       14540.8911221 ,  9994.35084105, 27094.20622156, 33051.48372991,
       14125.94815955,  1452.4199672 , 13758.89086597,  1792.83351063,
        5819.59793469, 11857.1776157 , 40148.40032285, 36396.75571766,
       33624.08677948,  4110.16370537,  7827.94884791,  8942.48582041,
       12032.23862568,  4795.33715448,  2257.6766724 , 32429.6543216 ,
       25427.37443824, 17854.94388055, 26247.97836193, 10117.77315891,
       36828.12481641, -1000.67248132,  6864.06429134,  8032.96593032,
        3995.77990482,  4863.33731726,  5506.61840611,  4552.97820298,
       15311.45870528, 11219.05996403,  7286.38631103,  1898.42465938,
         950.90157348, 32301.56497811, 16781.07700597, 12186.61151983,
        1040.71913884, 12096.55756348,   948.34582471,  9091.13244881,
        1681.85109549, 33957.08205205, 11061.11161712,  2527.95916931,
       25698.12269471, 26402.59324033,  9497.80605204,  1614.05356179,
       13554.36488469,  1375.41354916, 10970.5948697 , 10816.64124731,
       16398.47011646, 27047.39771877,  7263.01863791,  4629.65123175,
        5960.9051128 , 13488.26089546, 11353.54235183,  8464.89065431,
        4869.33782931, 12296.70499117, 14096.72912449, 36031.20772936,
        4064.46645304, 29111.34674737,  -694.90164283,  2772.02589103,
       11398.662762  , 15848.37798753,  5382.68695082,  6836.16755614,
        4122.00708833, 31746.56533914,  7193.08605633, 12716.18421917,
        5564.76667698,  9966.06716687, 36402.70981263,  4617.84570411,
        9288.37099015, 31511.05494896,  5505.27946786,  4677.57643684,
         966.87610515,  4763.74668056,  4826.843356  ,  6912.40170628,
       18826.43518202, -1598.33674847,  2567.2579255 , 11138.81700506,
        3395.77107975,  9801.08021402,  3479.2548145 ,  5185.72971769,
       12946.98109591,  6146.00480794,  7937.45436126,  7043.17067778,
        8798.64963302, 10468.69114706, 28006.03281425, 39414.97932447,
       11709.79414418,  7325.43595033, 41028.14003009, 12652.12691199,
        7024.35894769,  7878.69852551,  9368.26654624, 11277.92000142,
       10058.53188603, 17923.06064849,  1324.26588745, 23120.2941195 ,
       12251.28911777, 32740.79129706,  4841.48440127, 13483.61354741,
       10271.00813382, 17334.92753915, 10407.70984191, 11429.63301587,
       32644.37117734,  2886.70204489, 13828.891223  , 39635.17339979,
        5103.47383856,  6021.96219931,  2816.83419957, 11894.56045004,
       25001.76386727, 13774.62355483,  9649.09134319,  9753.71615672,
       13800.56106102,  1303.96317126,  2574.36961729, 30887.27190492,
       30389.45277247, 13821.67397116,  3499.73327885, 25302.84086992,
       13816.11786028, 30918.60781012,  2897.28531017, 39273.52313771,
       11412.02960527,  4937.01012536,  7159.06916471,  2755.61241001,
       25808.7393878 , 14767.60340866,   964.46377177, 13168.78996585,
       13004.20809023, 14813.38500411, 35263.84306666, 14267.18211036,
       31929.35826095, 10364.00173872, 18662.88566557,  6355.24437337,
        9182.3945832 ,  9816.00823149, 15646.96876137,  9602.73594478,
        7785.46867108, 15466.30127146, 12360.29255559, 14411.65819538,
        7869.59223275, 26277.44497452,  9520.8080031 ,  1769.72047696,
        4496.81597133, 14622.26357999, 35986.61613422, 10007.93984956,
       12702.65428292,  4929.07401387,  4863.98987008,  4376.58929987,
        2215.11760427,  8895.48189188,  7407.10939401,  2626.81843263,
       13520.07367605,  8756.88251039,  6368.27775664,  1102.86772751,
        9851.89455716,  5078.3551588 , 32913.00815694, 28655.75343521,
       37125.48288019,  5929.31463888,  8952.3486867 ,  8540.75348912,
        3800.6936056 , 31198.69011786,  6749.38813748, 28726.12482468,
       36028.31859131,  7296.6826041 , 13343.70748973,  9676.91243847,
        8264.65175086, 12275.46132083, 29782.12812667, 17527.17125884,
       11715.6694893 ,  3931.70994246,  -805.65629947, 11724.35091704,
       31297.78266225, 13326.37825471, 11717.24474781,  7667.34775393,
        3192.20415963,  7565.86800559,  7633.90043041, 11073.50503204,
       33704.45906951, 39542.38235325, 12319.84476434,  8201.39198245,
       16369.15394166, 15506.4607321 ,  9982.79988213,  9543.83676437,
        8781.5371114 ,  3172.90154057, 10532.66970439,  4158.86670092,
       11053.07298477, 15473.32869085,  6927.81509017,  1581.73171449,
       14816.69180385,   602.54485665])

In [23]:
ytest

764      9095.06825
887      5272.17580
890     29330.98315
1293     9301.89355
259     33750.29180
           ...
701      9541.69555
672      4399.73100
1163     2200.83085
1103    11363.28320
1295     1964.78000
Name: charges, Length: 402, dtype: float64

In [24]:
pd.DataFrame({'actual':ytest,'predicted':y_pred})

           actual     predicted
764    9095.06825   8504.259528
887    5272.17580   6897.839411
890   29330.98315  36805.011783
1293   9301.89355   9525.016402
259   33750.29180  26834.157836
...           ...           ...
701    9541.69555  15473.328691
672    4399.73100   6927.815090
1163   2200.83085   1581.731714
1103  11363.28320  14816.691804
1295   1964.78000    602.544857

[402 rows x 2 columns]

In [25]:
from sklearn.metrics import r2_score

In [26]:
r2_score(ytest,y_pred)

0.7680881643600721